<h1>Create New Admin</h1>
<%= form_tag :action => 'create_admin' do %>
    <table class="tables">
        <tr>
         <th> <%= label_tag(:name)%></th>
          <th> <%= text_field_tag(:name)%></th>
        </tr>

      <tr>
        <th> <%= label_tag(:email)%></th>
        <th> <%= text_field_tag(:email)%></th>
      </tr>

      <tr>
        <th> <%= label_tag(:password)%></th>
        <th> <%= text_field_tag(:password)%></th>
      </tr>

    </table>
    <br>
<%= submit_tag "Create Admin"%>
<% end %>

<%= params[:user]%>
<br><br>
<%= render 'books/footer' %>