<h1>List of Admins</h1>

<%=  flash[:notice]%>
<%= link_to "Create new admin", controller: 'users', action: 'new_admin' %>
<%= form_tag :action => :delete_admins do %>
    <table class="tables">
      <tr>
        <th>selections</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <% @admins.each do |m|%>
          <tr>
            <td><%= check_box_tag 'to_be_deleted_admins[]', m.id %></td>
            <td><%=  m.name %></td>
            <td><%=  m.email %></td>
          </tr>
      <% end %>
    </table>
    <br>
    <%= submit_tag "Delete" %>
<% end %>

<br> <br>
<%= render 'books/footer' %>
