<h1>Editing Book</h1>

<%= flash[:notice] %>

<%= form_tag books_update_path do %>
    <%= render 'form' %>
    <%= hidden_field_tag :id , @book.id %>
    <br>
    <%= submit_tag "Update" %>
<%end%>
<br>
<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>

<br>
<br>
<%= render 'footer' %>
