<p id="notice"><%= notice %></p>

<table class = "tables">
  <tr>
    <td> Book Name</td>
    <td> <b> <%= @book.name %></b></td>
  </tr>

  <tr>
    <td> ISBN</td>
    <td> <b> <%= @book.isbn %></b></td>
  </tr>

  <tr>
    <td> Author(s)</td>
    <td> <b> <%= @book.authors %></b></td>
  </tr>

  <tr>
    <td> Book Description</td>
    <td> <b> <%= @book.description %></b></td>
  </tr>

  <tr>
    <td> Status </td>
    <td> <b><%if @book.status=='available' %>
          Available
          <%else%>
          Checked Out
          <%end%>
    </b></td>
  </tr>
</table>
<!-- If an admin, show up the Edit functionality -->
<!-- Checkout button -->
<br> <br>

<% if @book.status=='available' %>
    <%= button_to "Checkout", { action: 'reserve', id: @book.id }, method: :post %>
    <% else %>
    <%= button_to "Checkout", { action: 'reserve', id: @book.id }, { method: :post, disabled: :true} %>
        <% if @waitlist[0]%>
            <%= button_to "Waitlist", { action: 'addWaitlist', id: @book.id }, method: :post, disabled: :true %>
        <% else %>
            <%= button_to "Waitlist", { action: 'addWaitlist', id: @book.id }, method: :post  %>
        <%end%>
<%end%>

<%= link_to 'Back', books_path %>

<br> <br>

<%= render 'footer'%>
